In [5]:
marks=59

In [2]:
if (marks>=60):
    print('Pass')
else:
    print('Fail')

Fail

In [4]:
age=18
if(age<20):
    if (marks>=60):
        print('Pass')
    else:
        print('Fail')
else:
    print('You are above age')

Fail

In [6]:
new_list=['a','b','c']

In [9]:
for str_value in new_list:
    print(str_value)
    print('hi')

a
hi
b
hi
c
hi

In [10]:
num_list=[1,2,3,4,5]

In [11]:
for my_int in num_list:
    if  my_int %2==0:
        print(f'even number: {my_int}')
    else:
        print(f'odd number: {my_int}')

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5

In [23]:
m_total=0

In [24]:
for num in num_list:
    m_total =  m_total + num
print(m_total)

15

In [26]:
total=0
for num in num_list:
    total += num
print(total)

15

In [27]:
for str_val in 'Hi David':
    print(str_val)

H
i

D
a
v
i
d

In [28]:
for tuple_val in(2,3,6):
    print(tuple_val)

2
3
6

In [29]:
my_tuple_list=[(1,2),(3,4),(5,6)]

In [30]:
for (a,b) in my_tuple_list:
    print(a+b)

3
7
11

In [31]:
for (x,y) in my_tuple_list:
    print(x)
    print(y)

1
2
3
4
5
6

In [32]:
my_dict={'key_1':1, 'key_2':2, 'key_3':3}

In [33]:
my_dict.items()

dict_items([('key_1', 1), ('key_2', 2), ('key_3', 3)])

In [35]:
for (key,val) in my_dict.items():
    print(key)

key_1
key_2
key_3

In [36]:
for var_key in my_dict:
    print(my_dict[var_key])

1
2
3

In [37]:
for (key,val) in my_dict.items():
    print(key+':'+str(val))

key_1:1
key_2:2
key_3:3

In [38]:
num_list=[1,2,3,4,5]

In [39]:
for num in num_list:
    print(num)
    if num==3:
        break

1
2
3

In [41]:
for num in num_list:
    if num==3:
        break
    print(num)

1
2

In [42]:
for num in num_list:
    if num==3:
        continue
    print(num)

1
2
4
5

In [43]:
for num in num_list:
    print(num)
    if num==3:
        continue

1
2
3
4
5

In [44]:
for num in num_list:
    print(num)
else:
    print('Loop finished')

1
2
3
4
5
Loop finished

In [45]:
for num in num_list:
    print(num)

print('Loop finished')

1
2
3
4
5
Loop finished

In [46]:
for num in num_list:
    print(num)
    if num==3:
        break
else:
    print('Loop finished')

1
2
3

In [47]:
for num in num_list:
    print(num)
    if num==6:
        break
else:
    print('Else part')

1
2
3
4
5
Else part

In [48]:
for num in num_list:
    print(num)
    if num==6:
        break

1
2
3
4
5

In [49]:
adj=['red','blue','green']
fruits=['apple','banana','cherry']
for x in adj:
    for y in fruits:
        print(x+y)

redapple
redbanana
redcherry
blueapple
bluebanana
bluecherry
greenapple
greenbanana
greencherry

In [50]:
adj=['red','blue','green']
fruits=['apple','banana','cherry']
for x in adj:
    for y in fruits:
        if fruits[1]==y:
            break 
        print(x+y)

redapple
blueapple
greenapple

In [51]:
for x in adj:
    print(x)
    for y in fruits:
        pass

red
blue
green

In [52]:
x=0
while x<5:
    print(f'x is {x}')
    x+=1

x is 0
x is 1
x is 2
x is 3
x is 4

In [53]:
x=0
while x<5:
    print(f'x is {x}')
    if x==2:
        break
    x+=1
print('After loop')

x is 0
x is 1
x is 2
After loop

In [56]:
x=0
while x<5:
    print(f'x is {x}')
    if x==6:
        break
    x+=1
else:
     print('After loop')

x is 0
x is 1
x is 2
x is 3
x is 4
After loop

In [57]:
x=0
while x<5:
    print(f'x is {x}')
    if x==2:
        break
    x+=1
else:
     print('After loop')

x is 0
x is 1
x is 2

In [1]:
x=0
while x<5:
    x+=1
    if x==3:
        continue
    print(f'x is {x}')

x is 1
x is 2
x is 4
x is 5

In [3]:
x=0
while x<5:
    x+=1
    if x==4:
        continue
    print(f'x is {x}')

x is 1
x is 2
x is 3
x is 5

In [4]:
print(type(range(0,5,2)))

<class 'range'>

In [5]:
for num in range(0,5,2):
    print(num)

0
2
4

In [6]:
print(list(range(0,5,2)))

[0, 2, 4]

In [2]:
print(type(enumerate('rajah')))

<class 'enumerate'>

In [3]:
print(list(enumerate([1,2,5])))

[(0, 1), (1, 2), (2, 5)]

In [4]:
for (position,value) in enumerate ([1,2,5]):
    print(str(position)+':'+str(value))

0:1
1:2
2:5

In [5]:
list_1=[1,2,3,4,5]
list_2=['a','b','c']
list_3=[100,200,300]

In [6]:
print(list(zip(list_1,list_2,list_3)))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [8]:
for p1,p2,p3 in zip(list_1,list_2,list_3):
    print(p2)

a
b
c

In [1]:
2 in [1,3]

False

In [2]:
'r' in 'rajah'

True

In [3]:
2 not in [1,3]

True

In [4]:
if  2 not in [1,3]:
    print('Not in list')

Not in list

In [5]:
'mykey' in {'mykey':5, 'nextkey':6}

True

In [6]:
'mykeys' in {'mykey':5, 'nextkey':6}

False

In [7]:
min([1,-6,3,5,2])

-6

In [8]:
max([1,-6,3,5,2])

5

In [4]:
var_in = input('pls input anything:')

pls input anything:45

In [5]:
print(var_in)

45

In [6]:
type(var_in )

str

In [7]:
var_1st=input('pls provide 1st num:')
var_2nd=input('pls provide 2nd num:')

pls provide 1st num:23
pls provide 2nd num:45

In [8]:
print(var_1st+var_2nd)

2345

In [9]:
var_1st=int(input('pls provide 1st num:'))
var_2nd=int(input('pls provide 2nd num:'))

pls provide 1st num:2
pls provide 2nd num:3

In [10]:
print(int(var_1st)+int(var_2nd))

5

In [11]:
print(var_1st+var_2nd)

5

In [12]:
from random import shuffle
my_list=[1,2,3,4,5,6]
print(shuffle(my_list))

None

In [13]:
print(my_list)

[1, 2, 3, 4, 6, 5]

In [15]:
from random import randint
randint(0,100)

67

In [16]:
mystring='rajah'

In [17]:
mylist=[]

In [18]:
for char in mystring:
    mylist.append(char)

In [19]:
mylist

['r', 'a', 'j', 'a', 'h']

In [20]:
my_new_list = [letter for letter in mystring]

In [21]:
my_new_list

['r', 'a', 'j', 'a', 'h']

In [22]:
my_new_list = [letter+'2' for letter in mystring]

In [23]:
my_new_list

['r2', 'a2', 'j2', 'a2', 'h2']

In [24]:
my_new_list = [letter+'2' for letter in mystring if letter!='a']

In [25]:
my_new_list

['r2', 'j2', 'h2']

In [30]:
celcius=[0,10,20,31.4]
fahrenheit =[((9/5)*celci+32) for celci in celcius]

In [31]:
print(fahrenheit)

[32.0, 50.0, 68.0, 88.52]

In [3]:
n=5
for i in range(n):
        print ('* ', end="")

* * * * * * * * * *

In [5]:
n=5
for i in range(n):
        print ('* ', end="")
    print('')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

n=5
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

In [ ]:
n=

In [ ]:
n=5
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

In [ ]:
i=1
while i<=5:
print('*'*i)
i=i+1

In [ ]:
i=1
while i<=5:
print('*'*i)
i=i+1

In [1]:
for i in range(0,5):
    print('*',end="")

*****

In [2]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for k in range(2 * i + 1):
        print(k + 1, end='')
    print()

    1
   123
  12345
 1234567
123456789

In [4]:
for i in range(0,4):
    for j in range(0,i+1):
        print ('* ', end="")
    print('\r')

*
* *
* * *
* * * *

In [5]:
new_list=[]
for i in range(1,5):
    for j in range(0,i):
        new_list.append(j)
    print(new_list)
    new_list=[]

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]

In [6]:
""""=>functions:
        resusability
        one line execution
    
    def name_of_function(arguments):
        """function descriptional comment"""
        print("Hello "+ argument)
        
    name_of_function("Rajah")"""

SyntaxError: invalid syntax (4003024540.py, line 6)

In [15]:
def pramid(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print('* ', end="")
        print('\r')
pramid(8)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [17]:
def pramid(n):
    new_list=[]
    for i in range(0, n):
        for j in range(0, i+1):
            print('* ', end="")
        print('\r')
        new_list.append(i)
    return new_list
pramid(8)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

[0, 1, 2, 3, 4, 5, 6, 7]

In [35]:
def hi():
    v=input('pls provide your name:')
    return ("Hi "+v)
hi()

pls provide your name:Rachana

'Hi Rachana'

In [36]:
hi()

pls provide your name:Rachana

'Hi Rachana'

In [46]:
name=input('Give me your name : ')

def greeting(name_):
    return(f'Hi {name_}')

greeting(name)

Give me your name : Mr.Potter

'Hi Mr.Potter'

In [40]:
def greeting():
    name=input('Give me your name : ')
    return(f'Hi {name}')
greeting()

Give me your name : harry

'Hi harry'

In [41]:
def greeting(name="default_name"):
    return(f'Hi {name}')
greeting()

'Hi default_name'

In [45]:
def num():
    var1=int(input('Please give me the first no:'))
    var2=int(input('Please give me the second no:'))
    total=var1+var2
    print(f'The total value is: {total}')
    return (f'The total value is: {total}')
num()

Please give me the first no:23
Please give me the second no:45
The total value is: 68

'The total value is: 68'

In [48]:
first_num=int(input('Please give me the first no:'))
second_num=int(input('Please give me the second no:'))

def sum(first, sec=0):
    total=first+sec
    return total
sum(first_num,second_num)

Please give me the first no:12
Please give me the second no:23

35

In [49]:
sum(first_num)

12

In [3]:
def check_even():
    mod=0
    no=int(input('Please provide the  no:' ))
    mod=no%2
    if(mod==0):
        print('True')
        return True
    else:
        print('False')
        return False
check_even()

Please provide the  no:8
True

True

In [13]:
new_list=[1,0,5,7]
def even_no():
        for num in new_list:
            mod=num%2
            if(mod==0):
                print('True')
                return True
        
even_no()

True

True

In [17]:
def even_no():
        for num in new_list:
            mod=num%2
            if(mod==0):
                print('True')
                return True
        return False
        
even_no()

True

True

In [34]:
new_list=[1,9,5,8,6,7]

def check_return_even():
    even_no_list=[]
    for i in new_list:
        if i%2==0:
            even_no_list.append(i)
    return even_no_list

check_return_even()

[8, 6]

In [7]:
name_list=['rajah','rani','kamal','bavi','ravi']
def name_check(name):
    check_bool=name[0]=='r'
    return check_bool
list(filter(name_check,name_list))

['rajah', 'rani', 'ravi']

In [14]:
num_list=[1,2,3,4,5,6]

In [10]:
def name_check(name):
    check_bool=name[-1]=='i'
    return check_bool
list(filter(name_check,name_list))

['rani', 'bavi', 'ravi']

In [15]:
def to_cube(num):
    return num**3
list(map(to_cube,num_list))

[1, 8, 27, 64, 125, 216]

In [16]:
def to_cube(num):
    return num**2
list(map(to_cube,num_list))

[1, 4, 9, 16, 25, 36]

In [18]:
cube=lambda num:num**3

In [19]:
cube(5)

125

In [22]:
v=lambda x:(x+10)/5

In [23]:
v(5)

3.0

In [24]:
list(map(lambda num:num**3,num_list))

[1, 8, 27, 64, 125, 216]

In [26]:
name_list=['rajah','rani','kamal','bavi','ravi']

In [30]:
list(map(lambda s:s.capitalize(),name_list))

['Rajah', 'Rani', 'Kamal', 'Bavi', 'Ravi']

In [31]:
list(map(lambda s:s.title(),name_list))

['Rajah', 'Rani', 'Kamal', 'Bavi', 'Ravi']

In [32]:
x=25
def printer():
    x=50
    return x

In [33]:
print(x)

25

In [34]:
printer()

50

In [2]:
name='This is a global string'
def greet():
    name='Sammy'
    def hello(name):
        print('Hello '+name)
    hello('Kavi')
greet()

Hello Kavi

In [2]:
st = 'Print only the words that start with skk ins this sentence'

In [3]:
st.split('d')

['Print only the wor', 's that start with skk ins this sentence']

In [4]:
st.split(' ')

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 'skk',
 'ins',
 'this',
 'sentence']

In [5]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 'skk',
 'ins',
 'this',
 'sentence']

In [6]:
for a in st.split(' '):
    if a[2] == 's':
        print(a)

ins

In [16]:
fruit_str = 'apple,banana,orange and grapes'

In [18]:
for a in fruit_str.split()
    if a[2] != orange
        print('my favourite fruit is: ')

SyntaxError: invalid syntax (1313985232.py, line 1)

In [20]:
for x in fruit_str:
    if x == 'Orange':
        continue
print(f'My favourit fruit is+ {x}')

My favourit fruit is+ s

In [21]:
fruit_str = 'apple,banana,orange and grapes'

In [22]:
for fruit in fruit_str.split(','):
    print (fruit)

apple
banana
orange and grapes

In [23]:
for fruit in fruit_str.split(','):
    if ' and ' in fruit:
        for fr in fruit.split(' and '):
            if fr!='banana':
                print(f'My favourit fruit is {fr}')
    else:
        if fruit!='banana':
                print(f'My favourit fruit is {fruit}')

My favourit fruit is apple
My favourit fruit is orange
My favourit fruit is grapes

In [24]:
range(10,21,3)

range(10, 21, 3)

In [25]:
new_list = []
for list_item in range(10, 21, 2):
    new_list.append(list_item)

In [26]:
new_list

[10, 12, 14, 16, 18, 20]

In [27]:
range(10, 21, 3)

range(10, 21, 3)

In [28]:
list(range(10, 21, 3))

[10, 13, 16, 19]

In [29]:
def lesser_in_2_num(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [30]:
lesser_in_2_num(2,5)

5

In [31]:
lesser_in_2_num(9,5)

9

In [32]:
def lesser_of_two_evens(num1,num2):
    if (num1 % 2 and num2 % 2) != 0:
        if num2 > num1:
            print(num2)
        if num1 > num2:
            print(num1)    
    elif (num1 % 2 and num2 % 2) == 0:
        if num1 < num2:
            print(num1)
        else:
            print(num2)    
    pass

In [33]:
lesser_of_two_evens(2,6)

2

In [34]:
square = lambda num:num**2

In [35]:
square(5)

25

In [36]:
mynums = [1,2,3,4,5]
list(map(square,mynums))

[1, 4, 9, 16, 25]

In [37]:
def myfunc_add(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)
    tuple_add = (a,b,c,d)
    add = sum(tuple_add)
    return add

In [38]:
myfunc_add(5,2,3,6)

5
2
3
6

16

In [39]:
def myfunc(*args):
    print(args)
    add = sum(args)
    return add

In [40]:
myfunc(40,60,70,90,10)

(40, 60, 70, 90, 10)

270

In [41]:
def myfunc_dic(**kwargs):
    print(kwargs)
    if 'fruit'in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruits here')

In [42]:
myfunc_dic(fruit='apple',veggie='carrot')

{'fruit': 'apple', 'veggie': 'carrot'}
My fruit of choice is apple

In [2]:
mydetail(name='Kavi',age='29',town='Batti')

NameError: name 'mydetail' is not defined

In [45]:
def myfunc_dic(**kwargs):
    if 'name' in kwargs:
        print('My name is {}'.format(kwargs['name']))
    elif 'age' in kwargs:
        print('My age is {}'.format(kwargs['age']))
    elif 'town' in kwargs:
        print('My town is {}'.format(kwargs['town']))
    else:
        print('I did not find')

In [46]:
myfunc_dic(name='Kavi',age='29',town='Batti')

My name is Kavi

In [47]:
def mydetail(**kwargs):
    print(kwargs)
    print ('My name is {} , age is {} and i\'m from {}'.format(kwargs['name'],kwargs['age'],kwargs['town']))

In [48]:
mydetail(name='Kavi',age='29',town='Batti')

{'name': 'Kavi', 'age': '29', 'town': 'Batti'}
My name is Kavi , age is 29 and i'm from Batti

In [49]:
def myfunc_(*args, **kwargs):
    print(kwargs)
    print(args)
    print('I would like {} {}'.format(args[0],kwargs['fruit']))

In [50]:
myfunc_(10,20,30,fruit='orange', animal='cat', food='thosai')

{'fruit': 'orange', 'animal': 'cat', 'food': 'thosai'}
(10, 20, 30)
I would like 10 orange

In [51]:
def marks_detail(*args,**kwargs):
    print(kwargs)
    print(args)
    print('{} got {} at {}. and he is {} studying at {}'.format(kwargs['names'][0],args[0],kwargs['subject'],kwargs['age'],kwargs['school']))

In [52]:
marks_detail(85,35,92, names=['rajah', 'rani', 'kamal'], age=14, school='rarar', subject='Maths')

{'names': ['rajah', 'rani', 'kamal'], 'age': 14, 'school': 'rarar', 'subject': 'Maths'}
(85, 35, 92)
rajah got 85 at Maths. and he is 14 studying at rarar

In [53]:
def square(n):
    return n**2

In [54]:
square(5)

25

In [55]:
num_list = [1,3,4,6]
new_list = []
for num in num_list:
    new_list.append(square(num))

In [56]:
new_list

[1, 9, 16, 36]

In [57]:
list(map(square, num_list))

[1, 9, 16, 36]

In [58]:
def add(a,b):
    return a+b

In [59]:
def initial_cappital(name):
    return name.capitalize()

In [60]:
name_list = ['rajah', 'rani', 'kamal']

In [61]:
list(map(initial_cappital, name_list))

['Rajah', 'Rani', 'Kamal']

In [62]:
def all_capital(name):
    return name.upper()

In [63]:
list(map(all_capital, name_list))

['RAJAH', 'RANI', 'KAMAL']

In [64]:
def check_even(num):
    return num%2==0

In [65]:
my_nums = [1,3,5,8,6,9]

In [66]:
filter(check_even, my_nums)

In [67]:
list(filter(check_even, my_nums))

[8, 6]

In [68]:
def check_odd(num):
    check_bool = num%2==1
    return check_bool

In [69]:
list(filter(check_odd, my_nums))

[1, 3, 5, 9]

In [70]:
name_list = ['rajah', 'rani', 'kamal', 'bavi', 'ravi']

In [71]:
def name_check(name):
        check_bool= name[0]=='r'
        return check_bool

list(filter(name_check, name_list))

['rajah', 'rani', 'ravi']

In [72]:
def check_first_letter(letter):
    if  letter[0] == 'r':
        return True

In [73]:
list(filter(check_first_letter,name_list))

['rajah', 'rani', 'ravi']

In [74]:
name_list = ['rajah', 'rani', 'kamal', 'bavi', 'ravi']

In [75]:
name_emt = []
for name in name_list:
    if name[0]=='r':
        name_emt.append(name)

In [76]:
name_emt

['rajah', 'rani', 'ravi']

In [9]:
def vowels(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False

In [10]:
variables=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [11]:
list(filter(vowels, variables))

['a', 'e', 'i', 'o', 'u']

In [17]:
name='This is a global string'
def greet():
    name='Sammy'
    def hello():
        print('Hello ' + name)
    hello()
greet()

Hello Sammy

L:Local
E:Enclosing function
G:Global
B:Built-in

In [21]:
x=50
def fun():
    x=25
    print(f'x is {x}')
    x=200
    print(f'x is {x}')
fun()
print(x)

x is 25
x is 200
50

In [22]:
x=50
def fun():
    global x
    print(f'x is {x}')
    x=200
    print(f'just locally changed x to {x}')
fun()
print(x)

x is 50
just locally changed x to 200
200

In [2]:
from IPython.display import clear_output

def display_board(board):
    clear_output()
    print('      |       |')
    print(' '+ board[7]+ '  |  '+ board[8]+ '  |  '+board[9])
    print('      |       |')
    print('----------------')
    print('      |       |')
    print(' '+ board[4]+ '  |  '+ board[5]+ '  |  '+board[6])
    print('      |       |')
    print('----------------')
    print('      |       |')
    print(' '+ board[1]+ '  |  '+ board[2]+ '  |  '+board[3])
    print('      |       |')

In [3]:
test_board=['#','X','O','X','O','X','O','X','O','X']
display_board(test_board)

      |       |
 X  |  O  |  X
      |       |
----------------
      |       |
 O  |  X  |  O
      |       |
----------------
      |       |
 X  |  O  |  X
      |       |

Write a function that can take in a player input & assign their marker 'x' or 'O' , Think about using while loops to continually ask until you get a correct answer

In [4]:
def player_input():
    marker=' '
    
    while not (marker == 'X' or marker == 'O'):
        marker=input('Player 1: Do you want to be X or  O? ').upper()
        
    if marker == 'X':
        return ('X','O')
    else:
        return ('O','X')

run the function to make sure it returns the desired output

In [5]:
player_input()

Player 1: Do you want to be X or  O? x

('X', 'O')

In [6]:
def place_marker(board,marker,position):
    board[position]=marker

In [7]:
place_marker(test_board,'X',8)
display_board(test_board)

      |       |
 X  |  X  |  X
      |       |
----------------
      |       |
 O  |  X  |  O
      |       |
----------------
      |       |
 X  |  O  |  X
      |       |

In [8]:
def win_check(board,mark):
    
    return ((board[7] == mark and board[8] == mark and board[9] == mark) or
    (board[4] == mark and board[5] == mark and board[6] == mark) or
    (board[1] == mark and board[2] == mark and board[3] == mark) or
    (board[7] == mark and board[4] == mark and board[1] == mark) or
    (board[8] == mark and board[5] == mark and board[2] == mark) or
    (board[9] == mark and board[6] == mark and board[3] == mark) or
    (board[7] == mark and board[5] == mark and board[3] == mark) or
    (board[9] == mark and board[5] == mark and board[1] == mark))

In [9]:
win_check(test_board,'X')

True

In [10]:
import random 

def choose_first():
    if random.randint(0, 1) == 0:
        return 'Player 2'
    else:
        return 'Player 1'

In [11]:
def space_check(board,position):
    return board[position] == '   '

In [12]:
def full_board_check(board):
    for i in range(1,10):
        if space_check(board,i):
            return False
    return True

full board check will happen when the players were tied.

In [13]:
full_board_check(test_board)

True

In [14]:
def player_choice(board,player):
    position = 0
    
    while position not in [1,2,3,4,5,6,7,8,9] or not space_check(board,position):
        position = int(input(player + 'Choose your next position: (1-9)'))
        
    return position

In [15]:
def replay():
    return input('Do you want to play  again? Enter Yes or No: ').lower().startswith('y')

In [ ]:
print('Welcome to Tic Tac Toe!')

while True:
    #Restart the board
    theBoard = ['   ']*10
    print(theBoard)
    player1_marker,player2_marker = player_input()
    turn=choose_first()
    print(turn + 'will go first.')
    
    play_game = input('Are you ready to play? Enter Yes or NO:')
    
    if play_game.lower()[0] == 'y':
        game_on=True
    else:
        game_on=False
      
    while game_on:
        if turn == 'Player 1':
            #player1's turn.
            
            display_board(theBoard)
            position=player_choice(theBoard,'Player-1')
            place_marker(theBoard,player1_marker,position)
            
            if win_check(theBoard,player1_marker):
                display_board(theBoard)
                print('congratulations! You have won the game!')
                game_on=False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn='Player 2'
                    
        else:
            if turn == 'Player 2':
                #player2's turn.
                display_board(theBoard)
                position=player_choice(theBoard,'Player-2')
                place_marker(theBoard,player2_marker,position)
            
            if win_check(theBoard,player2_marker):
                display_board(theBoard)
                print('congratulations! You have won the game!')
                game_on=False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn='Player 1'
                    
    if not replay():
        break

calculating area with lambda

In [23]:
radius_list=[7,12,15,3]

In [17]:
import math

In [18]:
math.pi

3.141592653589793

In [19]:
def area(radius):
    return (radius**2)*math.pi

In [20]:
area(2)

12.566370614359172

In [22]:
list(map(lambda radius:(radius**2)*math.pi,radius_list))

[153.93804002589985, 452.3893421169302, 706.8583470577034, 28.274333882308138]

In [5]:
def hello(name='rajah'):
    
    print('The hello() function has been executed!')
    def greet():
        return '\t This is the greet() fun inside hello()'
    def welcome():
         return '\t This is the welcome() fun inside hello()'
    print (greet())
    print (welcome())
    print ('This is the end of the hello function')

In [6]:
hello()

The hello() function has been executed!
	 This is the greet() fun inside hello()
	 This is the welcome() fun inside hello()
This is the end of the hello function

In [7]:
del greet

NameError: name 'greet' is not defined

In [8]:
greet

NameError: name 'greet' is not defined

In [12]:
def hello(name='rajah'):
    
    print('The hello() function has been executed!')
    def greet():
        return '\t This is the greet() fun inside hello()'
    def welcome():
         return '\t This is the welcome() fun inside hello()'
    print (greet())
    print (welcome())
    print ('This is the end of the hello function')

In [13]:
def hello(name='rajah'):
    print('The hello() function has been executed!')
    def greet():
        return '\t This is the greet() fun inside hello()'
    def welcome():
        return '\t This is the welcome() fun inside hello()'
    if(name == 'Rajah'):
        return greet
    else:
        return welcome
    print ('This is the end of the hello function')

In [16]:
my_greet_func = hello('Rajah')

The hello() function has been executed!

In [17]:
print(my_greet_func ())

	 This is the greet() fun inside hello()

In [19]:
def hello_():
    return 'Hi Rajah'

In [22]:
def other_func(some_func_def):
    print('Other code runs here!')
    print(some_func_def() )

In [23]:
other_func(hello_)

Other code runs here!
Hi Rajah